<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="shortcut icon" href="/assets/images/gif.webp" type="image/x-icon">
    <link rel="stylesheet" href="assets/styles/index.css">
    <link rel="stylesheet" href="assets/styles/auth.css">
</head>
<body>
    <main>
        <img src="/assets/images/gif.webp" class="penguin" />
        <form>
            <fieldset>
                <img src="/assets/images/user.svg" alt="user svg" class="input-img" />
                <input type="text" name="username" id="username" placeholder="Username" required />
            </fieldset>
            <fieldset>
                <img src="/assets/images/lock.svg" alt="lock svg" class="input-img" />
                <input type="password" name="password" id="password" placeholder="Password" required />
            </fieldset>
            <button>Login</button>
        </form>
        <p>Don't have an account yet? <a href="/signup">Sign up</a></p>
    </main>
    <script>

    </script>
</body>
</html>
