<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="shortcut icon" href="/assets/images/gif.webp" type="image/x-icon">
    <link rel="stylesheet" href="assets/styles/index.css">
    <link rel="stylesheet" href="assets/styles/auth.css">
</head>
<body>
    <main>
        <img src="/assets/images/gif.webp" class="penguin" />
        <form id="form">
            <fieldset>
                <img src="/assets/images/user.svg" alt="user svg" class="input-img" />
                <input type="text" name="username" id="username" placeholder="Username" required />
            </fieldset>
            <fieldset>
                <img src="/assets/images/mail.svg" alt="lock svg" class="input-img" />
                <input type="email" name="email" id="email" placeholder="E-mail" required />
            </fieldset>
            <fieldset>
                <img src="/assets/images/lock.svg" alt="lock svg" class="input-img" />
                <input type="password" name="password" id="password" placeholder="Password" required />
            </fieldset>
            <button>Sign up</button>
        </form>
        <p>Already have an account? <a href="/login">Log in</a></p>
    </main>
    <script>
        let formData = new FormData(document.querySelector("#form"));
        let baseUrl = "http://localhost:8000";
        fetch(`${baseUrl}/signup`, {
            method: "POST",
            body: formData
        })
        .then (response => response.json())
        .then (data => {
            console.log(data.error);
        })
        .fetch(error => {
            console.log(error);
        })
    </script>
</body>
</html>
