main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

picture img {
    position: absolute;
    z-index: 0;
    width: 140px;
}

picture h1 {
    position: absolute;
    z-index: 2;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: rgb(48, 117, 219);
    text-shadow: 1px 1px 1px black;
}

div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

div button, a {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(48, 117, 219);
    width: 90px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
}