<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin Chat</title>
    <link rel="shortcut icon" href="/assets/images/gif.webp" type="image/x-icon">
    <link rel="stylesheet" href="assets/styles/index.css">
    <link rel="stylesheet" href="assets/styles/home.css">
    <style>
        
    </style>
</head>
<body>
    <main>
        <section>
            <h1>WELCOME!!!</h1>
            <div>
                <a href="/login">Log In</a>
                <a href="/signup">Sign up</a>
            </div>
        </section>
    </main>
</body>
</html>