.box {
    min-width: 200px;
    height: auto;
    background-color: rgb(231, 110, 110);
    position: fixed;
    right: 2%;
    top: 2%;
    padding: 2px;
    border: 2px solid rgb(211, 91, 91);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    text-align: center;
    display: none;
}